vti_encoding:SR|utf8-nl
vti_author:SR|Jay-PC\\Jay
vti_modifiedby:SR|Jay-PC\\Jay
vti_timelastmodified:TR|22 Sep 2011 09:32:53 -0000
vti_timecreated:TR|22 Sep 2011 05:16:42 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|22 Sep 2011 09:31:37 -0000
vti_cacheddtm:TX|22 Sep 2011 09:31:37 -0000
vti_filesize:IR|1301
vti_cachedlinkinfo:VX|S|../images/signups1.png S|../images/signups2.png S|../images/btn.gif S|../images/btn1.gif
vti_cachedsvcrellinks:VX|FSUS|images/signups1.png FSUS|images/signups2.png FSUS|images/btn.gif FSUS|images/btn1.gif
