vti_encoding:SR|utf8-nl
vti_author:SR|Jay-PC\\Jay
vti_modifiedby:SR|Jay-PC\\Jay
vti_timelastmodified:TR|22 Sep 2011 06:43:36 -0000
vti_timecreated:TR|21 Sep 2011 09:17:02 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Surveyguru_Sample_Survey_template.dwt sample_page3.html sample_page2.html sample_page1.html
vti_nexttolasttimemodified:TW|22 Sep 2011 06:43:34 -0000
vti_cacheddtm:TX|22 Sep 2011 06:43:36 -0000
vti_filesize:IR|1629
vti_cachedlinkinfo:VX|S|../images/bg.jpg S|../images/btn.gif S|../images/btn1.gif
vti_cachedsvcrellinks:VX|FSUS|images/bg.jpg FSUS|images/btn.gif FSUS|images/btn1.gif
